#container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    max-width: 1024px;
    width:90%;
    margin: 0px auto;
}

h1 {
    width: 100%;
    margin-left: 20px;
}
.wrapper {
    flex-basis:20%;
    box-sizing: border-box;
    padding: 30px;   
}
.thumb {
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 4px rgba(113, 113, 235,0.5);
}

.thumb > img {
    max-width: 250px;
    width:100%;
    margin:auto;
}
.thumb > p {
    margin: 0;
    padding: 10px;
    font-size: 16px;
    background-color: white;
    border-radius: 0px 0px 10px 10px;  
}
#container > p {
    text-align: justify;
    width: 100%;
    font-size: 18px;
    text-align: justify;
    padding:20px;
}

@media screen and (max-width: 1024px) {
    .wrapper {
        flex-basis: 30%;
    }
    #container > p {
        font-size: 16px;
    }
}
@media screen and (max-width: 800px) {
    .wrapper {
        flex-basis: 50%;
    }
    #container > p {
        font-size: 18px;
    }
}
@media screen and (max-width: 415px) {
    .wrapper {
        flex-basis: 100%;
    }
    #container > p {
        font-size: 20px;
    }
    
}